ansible==2.9.20
boto3==1.35.78
netaddr==0.8.0
cffi==1.14.5
cryptography==3.4.7
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
netaddr==0.8.0
pycparser==2.20
python-dateutil==2.8.1
PyYAML==5.4.1
# s3transfer==0.3.7
setuptools==56.0.0
six==1.15.0
urllib3==1.26.4
wheel==0.36.2